body {
    font-family: helvetica, arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.title {
    text-align: center;
    font-weight: 100;
    margin: 18px 0 24px 0;
}

#app {
    text-align: center;
}

.pins {
    display: inline-block;
    text-align: center;
}

.pin {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 1px solid #444;
}

.controls {
    margin-top: 40px;
    text-align: center;
}

.button {
    margin: 0;
}